<!DOCTYPE html>
<<<<<<< HEAD

<html>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
=======
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
>>>>>>> 21d1169fab59bddfb913950c0d6ff60c4d25aa6d
</html>